@font-face {
font-family: 'Helvetica Now Display';
src: local('Helvetica Now Display Regular'), local('Helvetica-Now-Display-Regular'),
    url('fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
}

* {
    box-sizing: border-box;
} 

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

.body {
    width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    font-family: "Roboto", sans-serif;
    color: var(--gray);
    cursor: default;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
}

.h2 {
    font-family: var(--secondary-font);
    font-size: 48px;
    line-height: 66px;
    font-weight: 400;
}

.h3 {
    margin: 0;
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
}

.h1 {
    font-weight: 400;
}

@media screen and (max-width:480px) {
    .body {
        width: 375px;
        padding: 0 16px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .h3 {
        font-size: 24px;
        line-height: 33px;
    }
}  

