@font-face {
font-family: 'Helvetica Now Display';
src: local('Helvetica Now Display Regular'), local('Helvetica-Now-Display-Regular'),
    url('fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

* {
    box-sizing: border-box;
} 

.body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    font-family: "Roboto", sans-serif;
    color: var(--gray);
    cursor: default;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
}

.second--grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 20px;
}

@media screen and (max-width:480px) {
    .body {
        width: 375px;
        padding: 0 16px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .second--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
}  
}
