.feedback {
    position: relative;
    grid-template-rows: 120px 307px 150px;
    margin-top: 120px;
}

.feedback__image {
    position: absolute;
    grid-column: 1 / 7;
}

.feedback__application {
    grid-column: 7 / 13;
}

.feedback__title {
    margin: 0;
    margin-bottom: 32px;
}

.feedback__text-field {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.feedback__text-field input {
    border: 0;
    border-bottom: 1px solid var(--black);
    box-sizing: border-box;
    color: var(--black);
    font-size: 16px;
    height: 30px;
    outline: 0;
    width: 100%;
}

.feedback__text-field label {
    position: absolute;
    top: 0px;
    left: -10px;
    padding: 5px 10px;
    color: var(--black);
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 16px;
    background-color: inherit;
    transition: all 200ms;
    pointer-events: none;
}

.feedback__text-field input:focus + label,
.feedback__text-field input:not(:placeholder-shown) + label {
    top: -25px;
    left: -8px;
    font-size: 11px; 
}

.feedback__text-field input:focus{ 
    border-color: var(--pea);
}

.feedback__button {
    display: block;
    width: 176px;
    height: 46px;
    margin-bottom: 40px;
    color: var(--aliceblue);
    background-color:var(--gray);
    border: 0;
    transition: all 0.3s ease-in-out;
}

.feedback__button:hover , .feedback__button:focus {
    background: var(--pea);
    color: var(--black);
}

.feedback__button:active {
    transition: none;
    box-shadow: 0 0 0 3px lightskyblue;
    background-color: var(--yellow-gray);
}

.download-link:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.download-link {
    display: inline-block;
}

.feedback__download-link {
    margin-left: 8px;
}

.feedback__subtitle {
    margin: 0;
    margin-bottom: 72px;
}

.feedback__button:disabled {
    background-color: var(--disabled-color);
    opacity: 50%;
    color: var(--white)
}

@media screen and (max-width:480px) {
    .feedback {
        grid-template-rows: 120px 248px;
        margin-top: 48px;
    }

    .feedback__image {
        display: none;
    }

    .feedback__button:hover{
        background-color: var(--pea);
    }

    .feedback__application {
        grid-column: 1 / -1;
    }

    .feedback__subtitle {
        margin-bottom: 32px;
    }

    .feedback__button {
        margin-bottom: 28px;
    }
}

@media screen and (max-width:1200px) {

    .feedback__image{
        display: none;
    }

    .feedback__application {
        grid-column: 1 / -1;
    }

    .feedback{
        margin-top: 48px;
    }
}