
.feedback {
    position: relative;
    grid-template-rows: 120px 307px 150px;
    margin-top: 120px;
}

.feedback__image {
    position: absolute;
    grid-column: 1 / 7;
}

.feedback__application {
    grid-column: 7 / 13;
}

.feedback__title {
    margin: 0;
    margin-bottom: 32px;
}

.feedback__text-field {
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.feedback__text-field input {
    border: 0;
    border-bottom: 1px solid var(--black);
    box-sizing: border-box;
    color: var(--black);
    font-size: 16px;
    height: 30px;
    outline: 0;
    width: 100%;
}

.feedback__text-field label {
    position: absolute;
    top: 0px;
    left: -10px;
    padding: 5px 10px;
    color: var(--black);
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 16px;
    background-color: inherit;
    transition: all 200ms;
    pointer-events: none;
}

.feedback__text-field input:focus + label,
.feedback__text-field input:not(:placeholder-shown) + label {
    top: -25px;
    left: -8px;
    font-size: 11px; 
}

.feedback__text-field input:focus{ 
    border-color: var(--pea);
}

.feedback__button {
    display: block;
    width: 176px;
    height: 46px;
    margin-bottom: 40px;
    color: var(--aliceblue);
    background-color:var(--gray);
    border: 0;
    transition: all 0.3s ease-in-out;
}

.feedback__button:hover , .feedback__button:focus {
    background: var(--pea);
    color: var(--black);
}

.feedback__button:active {
    transition: none;
    box-shadow: 0 0 0 3px lightskyblue;
    background-color: var(--yellow-gray);
}

.download-link:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.download-link {
    display: inline-block;
}

.feedback__download-link {
    margin-left: 8px;
}

.feedback__subtitle {
    margin: 0;
    margin-bottom: 72px;
}

.feedback__button:disabled {
    background-color: var(--disabled-color);
    opacity: 50%;
    color: var(--white)
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
    top:0;
    left: 0;
    display: none;
}

.popup:target{
    display: block;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__content{
    background-color: var(--yellow-gray);
    color: var(--black);
    width: 50%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    animation: menuAnimation 1s;
}

.popup__close{
    display: block;
    background-image: url(../images/close.svg);
    width: 23px;
    height: 23px;
    grid-column: 11;

}

.popup__title{
    font-size: 50px;
    text-align: center;
    grid-column: 1 / -1;
}

.popup__text{
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    grid-column: 1 / -1;
}

.popup__close:hover{
    opacity: 0.7;
}

.popup__close:active{
    opacity: 0.5;
}

@media screen and (max-width:480px) {
    .feedback {
        grid-template-rows: 120px 248px;
        margin-top: 48px;
    }

    .feedback__image {
        display: none;
    }

    .feedback__button:hover{
        background-color: var(--pea);
    }

    .feedback__application {
        grid-column: 1 / -1;
    }

    .feedback__subtitle {
        margin-bottom: 32px;
    }

    .feedback__button {
        margin-bottom: 28px;
    }
}

@media screen and (max-width:1200px) {

    .feedback__image{
        display: none;
    }

    .feedback__application {
        grid-column: 1 / -1;
    }

    .feedback{
        margin-top: 48px;
    }
}

@keyframes menuAnimation {
    from {opacity: 0;   
        transform: perspective(600px) translate(0px, -300%) rotate(45deg);
    }
    to {opacity: 1;
        transform: perspective(600px) translate(0px, 0%) rotate(0deg);
    }
}

