.footer {
    margin-top: 120px;    
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 16px;
}

.footer__rights {
    font-size: 18px;
    margin: 0;
    max-width: 209px;
}

.footer__rights-year {
    margin: 0;
    margin-bottom: 4px;
}

.footer__rights-all { 
    margin: 0;
}

.footer__legal-docs {
    margin: 0;
    color: black;
}

.footer__socials {
    font-size: 18px;
}

.footer_social-link {
    text-transform: uppercase;
    text-decoration: 0;
    color: black; 
}

.footer_social-link + .footer_social-link {
    margin-left: 40px
}

.footer__legal-doc-link {
    text-decoration: 0;
    color: black;
}

.footer__legal-doc-link:hover {
    text-decoration: underline;
}

.footer_social-link:hover {
    text-decoration: underline;
}

@media screen and (max-width:480px){
    .footer {
        margin-top: 60px;
        align-content: space-between;
        flex-direction: column;
        padding: 0 51px 16px;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 24px;
    }

    .footer__rights-year {
        text-align: center;
    }

    .footer__rights-all { 
        text-align: center;
    }

    .footer__legal-docs{
        font-size: 0;
        text-align: center;
    }
    
    .footer__legal-doc-link {
        font-size: 16px;
        text-align: center;
        line-height: 2;
    }
}