.header {
    margin-top:12px;
}

.header__list {
    grid-column: 9;
    list-style-type:none;
    margin:0;    
    padding: 0;
}

.header__list-link {
    font-size: 18px;
    text-decoration: none;
    color:var(--gray);
}

.header__list-link:hover {
    text-decoration: underline;
}

.header__number {
    grid-column: 11 / 13;
    justify-self: end;
    align-self: start;
    font-size: 18px;
    text-decoration: none;
    color:var(--gray);
}

.header__number:hover {
    text-decoration: underline;
}

.header__image {
    grid-column: 1;
    justify-self: start;
    align-self: start;
    margin: 0;
}

.header__image:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.header__image:active {
    opacity: 0.5;
    transition: all 0s ease-in-out;
}

.header__list li:not(:last-child) {
    margin-bottom: 8px;
}

.header__menu{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.header__menu span{
    position: absolute;
    top: 8px;
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: black;
}

.header__menu::before, .header__menu::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease 0s;
}

.header__menu::before { top: 0 }

.header__menu::after { bottom: 0 }


.header__menu.active span { transform: scale(0) }

.header__menu.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__menu.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}



@media screen and (max-width:480px)
{
    .header__number {
        display: none;
    }

    .header__list{
        display: none;
        grid-column: 3;
        animation: burgerAnimation 1s;
    }

    .header__image-logo {
        width: 39px;
        height: 41px;
    }
    
    .header__menu{
        display: block;
        grid-column: 4 / -1;
        align-self: start;
        justify-self: end;
    }

    .open{
        display: grid !important;
    }
}

@media screen and (max-width:1065px) and (min-width:480px) {
    .header__number{
        grid-column: 10 / 13;
    }
}

@media screen and (max-width:800px) and (min-width:480px) {
    .header__number{
        text-wrap: nowrap;
    }

    .header__list{
        grid-column: 2 / 3;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}