.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
    top:0;
    left: 0;
    display: none;
}

.popup__body {
    max-height: 100%;
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(9,1fr);
}

.popup__content {
    background-color: var(--yellow-gray);
    color: var(--black);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    animation: menuAnimation 1s;
    grid-row: 4 / 6;
    grid-column: 4 / 16;
}

.popup__close {
    display: block;
    background-image: url(../images/close.svg);
    width: 23px;
    height: 23px;
    grid-column: 11;

}

.popup__title {
    font-size: 50px;
    text-align: center;
    grid-column: 1 / -1;
}

.popup__text {
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    grid-column: 1 / -1;
}

.popup__close:hover {
    opacity: 0.7;
}

.popup__close:active {
    opacity: 0.5;
}

.popup__content{
    width: 100%;
}

@media screen and (max-width: 800px) { 
    .popup__content{
        grid-row: 4 / 6;
        grid-column: 1 / -1;
    }
}