.section-about{
    width:100% ;
    margin-top: 120px;
}

.section-about__header {
    grid-column: 1 / 6;
    margin: 0;
    
}
.section-about__subtitle{ 
    grid-column: 7 / 11;
    margin: 0;
    padding-top: 29px;
}

.section-about__subtitle-text{
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 0;
}

.section-about__subtitle-time{
    grid-column: 7 / 9;
    margin: 0;
    margin-top: 44px;
}

.section-about__subtitle-time-text{
    margin: 0;
    font-size: 16px;
    
}

.section-about__time-text{
    margin-bottom:24px;
    margin-top: 24px;
}
